MONGODB_URI=
EMAIL_SERVER=
EMAIL_FROM=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

AWS_CMS_S3_ACCESS_KEY=
AWS_CMS_S3_ACCESS_KEY_SECRET=
AWS_CMS_S3_REGION=
AWS_CMS_S3_BUCKET=
AWS_CMS_S3_FOLDER=
AWS_CMS_S3_ENDPOINT=
